In [1]:
# going to just keep a few title and

def format_data(filename):

    formatted = []

    # Opening our text file in read only 
    # mode using the open() function 
    # with open('LC.txt', 'r') as file: 

    file = open(filename, 'r', encoding="utf8")

    # print(file)

    data = file.readlines() 

    # print(data)

      # this keeps track of where i am in the new list 
    counter = 0

    for ind, line in enumerate(data):

    #         print(ind)
    #         print(line)
        if "Title:" in line: 
          # print(line)
          # print("--------------")
          line = line.strip()
          if line[-1] == ",":
              line = line[:-1]

          formatted.append(line)
          if ind > 0:
            # print(counter)
            # print((data[ind-2]))
            formatted[counter] += " |" + data[ind-2].strip()
            counter += 1   


    formatted[counter] += " |" + data[-1].strip()

#     print(formatted[0])
    
    return formatted


# with open(r'LCformatted.txt', 'w') as fp:
#   for item in formatted:
#       # write each item on a new line
#       fp.write("%s\n" % item)
#   print('Done')

# import pandas as pd

# df = pd.read_csv('RHformatted.txt', sep='|')

# print(df[0])

In [2]:
lc = format_data("LC.txt")
rh = format_data("RH.txt")
lc[0]

'Title: Atlas zur Kirchengeschichte : die christlichen Kirchen |BR98 .J43 1987'

In [3]:
import pandas as pd

def to_df(df):

    new_df = pd.DataFrame(df)

#     new_df.head()

    new_df[['title', 'cn']] = new_df[0].str.split('|', expand=True)

    new_df = new_df.drop([0], axis=1)

    return new_df

lc_df = to_df(lc)
rh_df = to_df(rh)

rh_df.head(6)

                                               title                 cn
0  Title: Atlas of the world's religions / [carto...     BL85 .A85 2007
1  Title: Atlas zur Kirchengeschichte : die chris...     BR98 .J43 1987
2  Title: The sacred bridge [cartographic materia...   BS630 .R356 2006
3  Title: The Collegeville atlas of the Bible / J...  BS635.2 .H38 1999
4  Title: Peoples and places of the past : the Na...    CB311 .P44 1983
5  Title: An historical atlas of Kent / edited by...  DA670.K3 H55 2004

In [7]:

print(len(lc_df))
print(len(rh_df))

#print(rh.head(5))

#print(lc.head(5))


'''
inner = pd.merge(lc, rh, on="Call Num", indicator=True)

print(len(inner))
print(inner.head(5))
inner.to_csv("inner.csv", sep = '\t')

lcOnly = pd.merge(lc, rh, on="Call Num", how ="left", indicator=True)

#lcOnly = lc.merge(rh, on="Call Num", how ="left")

lcOnly = lcOnly.loc[lcOnly["_merge"] == "left_only"]
#pd.set_option('display.max_columns', None)
print(len(lcOnly))
print(lcOnly.head(5))
lcOnly.to_csv("lcOnly.csv", sep = '\t')


rhOnly = pd.merge(lc, rh, on="Call Num", how ="right", indicator=True)


rhOnly = rhOnly.loc[rhOnly["_merge"] == "right_only"]
#pd.set_option('display.max_columns', None)
print(len(rhOnly))
print(rhOnly.head(5))
rhOnly.to_csv("rhOnly.csv", sep = '\t')
'''


everything  = pd.merge(lc_df, rh_df, on=["title","cn"], how = "outer", indicator=True)

print(len(everything))
print(everything.head(5))
everything.to_csv("everything.csv", sep = '\t')

both = everything.loc[everything["_merge"] == "both"]
both = both.reset_index(drop=True)
#pd.set_option('display.max_columns', None)
print(len(both))
print(both.head(5))
both.to_csv("both.csv", sep = '\t')


lcOnly = everything.loc[everything["_merge"] == "left_only"]
lcOnly = lcOnly.reset_index(drop=True)
#pd.set_option('display.max_columns', None)
print(len(lcOnly))
print(lcOnly.head(5))
lcOnly.to_csv("lcOnly.csv", sep = '\t')

rhOnly = everything.loc[everything["_merge"] == "right_only"]
rhOnly = rhOnly.reset_index(drop=True)
#pd.set_option('display.max_columns', None)
print(len(rhOnly))
print(rhOnly.head(5))
rhOnly.to_csv("rhOnly.csv", sep = '\t')

# so this mostly works, there are 4 more entries in the rosehill only then there should be which most just be duplicates
# ideally I would read in the entire title and this problem would go away...that is not going to happen right now so I will 
# leave this as good enough especiallly since rose hill only is not our major concern but it's something that can be fixed
# also the 41 that are LC only should be double checked as not all rose hill maps seemed to be in the map area

225
301
489
                                               title              cn  \
0  Title: Atlas zur Kirchengeschichte : die chris...  BR98 .J43 1987
1  Title: Atlas of the early Christian world / F....     BR160.A2 M4
2  Title: Historical atlas of religion in America...  BR515 .G3 1976
3  Title: New atlas of the Bible [by] Jan H. Nege...      BS621 .N44
4  Title: The Westminster historical atlas to the...  BS630 .W7 1956

      _merge
0       both
1  left_only
2  left_only
3  left_only
4  left_only
41
                                                title                 cn  \
0   Title: Atlas zur Kirchengeschichte : die chris...     BR98 .J43 1987
13  Title: Atlas of African prehistory, compiled b...          DT13 .C53
14  Title: Atlas of African prehistory, compiled b...          DT13 .C53
15  Title: Atlas of African prehistory, compiled b...          DT13 .C53
18  Title: We the people : an atlas of America's e...  E184.A1 A479 1988

   _merge
0    both
13   both
14   both
15   both
18   both
184
                                               title               cn  \
1  Title: Atlas of the early Christian world / F....      BR160.A2 M4
2  Title: Historical atlas of religion in America...   BR515 .G3 1976
3  Title: New atlas of the Bible [by] Jan H. Nege...       BS621 .N44
4  Title: The Westminster historical atlas to the...   BS630 .W7 1956
5  Title: The Macmillan Bible atlas / by Yohanan ...  BS631 .A53 1977

      _merge
1  left_only
2  left_only
3  left_only
4  left_only
5  left_only
264
                                               title                 cn  \
0  Title: Atlas of the world's religions / [carto...     BL85 .A85 2007
1  Title: The sacred bridge [cartographic materia...   BS630 .R356 2006
2  Title: The Collegeville atlas of the Bible / J...  BS635.2 .H38 1999
3  Title: Peoples and places of the past : the Na...    CB311 .P44 1983
4  Title: An historical atlas of Kent / edited by...  DA670.K3 H55 2004

       _merge
0  right_only
1  right_only
2  right_only
3  right_only
4  right_only